# dependencies
node_modules/

# build outputs
build/
dist/

# environment & Firebase credentials
.env
.env.local
.env.*.local
firebase-debug.log
firebase.json  # optional if you prefer not to share
.serviceAccountKey.json

# OS/IDE files
.DS_Store
.vscode/
