
.mock-container {
  background-image:url(/public/images/snow1.jpg);
  background-size: cover;
  background-repeat: no-repeat; /* Prevents the image from tiling */
  background-attachment: fixed; /* Keeps the background image fixed when the user scrolls */
  background-position: center center; /* Centers the image */
  min-height: 100vh;
  margin: 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.mock-split {
  display: flex;
  width: 100%;
  height:600px;
}

.penguin-canvas {
  flex: 1;
  border-radius: 10px;
  margin-right: 10px;
}

.interview-ui {
  flex:1.8;
  margin: auto;
  background-color:lightslategray;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.arrow-back {
  pointer-events: auto; /* Re-enable pointer events for the button */
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 11; /* Ensure it's on top of the overlay */
}

.arrow-btn {
  /* Style your back button here */
  color: white;
  font-size: 24px;
  text-decoration: none;
  background: rgba(45, 50, 80, 0.7);
  padding: 5px 15px;
  border-radius: 50%;
  display: inline-block;
}

.role-input {
  background: transparent;
  border: none;
  box-shadow: none ;
  padding: 0 ;
  backdrop-filter: none;
  margin-bottom: 20px;
}
.role-input input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
}

.role-input button {
  padding: 10px 20px;
  background-color: black;
  cursor: pointer;
}
.nextbtn {
  padding: 10px 20px;
  background-color:black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}
